<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
    </head>
    <body>
        <div id="cy"></div>
        <div id="file-input-area" class="is-not-dragover">
            <input id="file-input" type="file">
            <label for="file-input"><strong>[Choose a file]</strong></br>or drop it here</label>
            <strong id="cancel-button">[Cancel]</strong>
        </div>
        <div id="buttons-area">
            <input class="button" type="button" id="reset-button" value="Reset">
            <input class="button" type="button" id="reload-button" value="Reload">
            <input class="button" type="button" id="rotate-button" value="Rotate">
        </div>
        <div id="links-area">      
            <form action="https://github.com/pkemkes/graphylizer" method="get" target="_blank">
                <input class="button" type="submit" id="github-button" value="GitHub">
            </form>
        </div>
        <script src="/static/scripts/dagre.min.js"></script>
        <script src="/static/scripts/cytoscape.min.js"></script>
        <script src="/static/scripts/cytoscape-dagre.min.js"></script>
        <script src="/static/scripts/graphylizer.js"></script>
    </body>
</html>